@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'billabong';
    src: url('/assets/fonts/billabong.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
